<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<!-- Register the section handlers for the custom sections -->
	<configSections>
		<section name="log4net"
		         type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <!-- This section contains the .NET 2.0 runtime configuration settings -->
	<startup>
        <requiredRuntime version="v2.0.50727" />
    </startup>

    <!-- This section contains the application configuration settings -->
    <appSettings>

            <add key="play_sound_on_fill" value="false" />
            <add key="datetime_format" value="yyyy/MM/dd hh:mm:ss.fff tt" />

            <!--
            <add key="fcm_id" value="AWS-PRXY" />
            <add key="timeout" value="20000" />
            <add key="rpc" value="tcp://184.73.164.51:19989" />
            <add key="broadcast" value="tcp://184.73.164.51:19988" />
            -->

            <add key="fcm_id" value="DORMAN-PRXY" />
            <add key="timeout" value="20000" />
            <add key="rpc" value="tcp://76.74.96.208:19989" />
            <add key="broadcast" value="tcp://76.74.96.208:19988" />

    </appSettings>

    <!-- This section contains the log4net configuration settings -->
    <log4net debug="false">

        <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
            <param name="File" value="viewer.log" />
            <param name="AppendToFile" value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
       </appender>

       <root>
         <priority value="INFO" />
         <appender-ref ref="LogFileAppender" />
       </root>

    </log4net>

</configuration>
